In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.stattools import adfuller
from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.arima.model import ARIMA
import warnings
warnings.filterwarnings('ignore')

In [2]:
gold = pd.read_csv('gold_historical_data.csv')
gold

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2013-01-02 00:00:00-05:00,1672.800049,1693.800049,1670.000000,1687.900024,35,0.0,0.0
1,2013-01-03 00:00:00-05:00,1686.099976,1686.800049,1662.000000,1673.699951,140,0.0,0.0
2,2013-01-04 00:00:00-05:00,1647.000000,1658.300049,1625.699951,1648.099976,199,0.0,0.0
3,2013-01-07 00:00:00-05:00,1656.500000,1659.900024,1643.800049,1645.500000,49,0.0,0.0
4,2013-01-08 00:00:00-05:00,1647.699951,1661.500000,1647.699951,1661.500000,17,0.0,0.0
...,...,...,...,...,...,...,...,...
2743,2023-11-28 00:00:00-05:00,2040.599976,2042.699951,2039.699951,2039.699951,174665,0.0,0.0
2744,2023-11-29 00:00:00-05:00,2041.699951,2052.100098,2036.000000,2047.099976,15290,0.0,0.0
2745,2023-11-30 00:00:00-05:00,2046.099976,2047.099976,2033.099976,2038.099976,2506,0.0,0.0
2746,2023-12-01 00:00:00-05:00,2038.300049,2073.199951,2036.000000,2071.000000,614,0.0,0.0
2747,2023-12-04 00:00:00-05:00,2075.300049,2130.199951,2021.000000,2024.099976,1071,0.0,0.0

In [ ]:
df = gold.copy()
df